.pagination:hover {
  background-color: #374151;
  border-color: #374151;
}

.paginationActive,
.paginationActive:hover {
  color: rgb(255 255 255 / var(--tw-text-opacity));
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
  border-color: black;
  cursor: default;
}

.paginationDisable,
.paginationDisable:hover {
  background-color: #7680913b;
  border-color: #7680913b;
  cursor: default;
}
